.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
}
.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home > div {
  display: flex;
  flex-wrap: wrap;
}
.home__legend {
  border-bottom: 1px solid gray;
}
